body {
    color: black;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("background.jpg");
    font-size: 25px;
}
table {
    text-align: center;
    font-size: 30px;
    
}
input {
    margin: 30px;
    height: 50px;
    width: 291px;
    font-size: 40px;
}
button {
    color: brown;
    width: 70px;
    height: 65px;
    font-size: 25px;
}
h1 {
    text-align: center;

}

.calculator {
    text-align: center;
    align-content: center;
}